/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hidden;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #084368;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #062e47;
  }

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.imagem-header, .imagem-sobre{
    animation: float 5s ease-in-out infinite;
}

.item:hover{
  color: #37689B
}

.team .team-member:hover .social {
  opacity: 1;
}

.card:hover .div-icon{
  background-color: #fff;
  transition: .3s ease-in
}

.card:hover .icon{
  fill: #1f5fa3;
  transition: .3s ease-in
}

.wave-animation {
  position: relative;
  width: 100%;
  height: 143px;
  background-size: cover;
  transform: translatey(-100%)
}
.wave-animation .wave {
  position: absolute;
  width: 100%;
  height: 143px;/*PNG*/
  top:0;
  left:0;
  background-image: url('https://vitalflow.com.ar/img/anim-onda.png');
  animation: anim 10s linear infinite;
  
}
.wave-animation .wave:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 143px;
  top:0;
  left:0;
  background-image: url('https://vitalflow.com.ar/img/anim-onda.png');
  opacity: 0.4;
  animation: anim-rev 10s linear infinite;
  
}
.wave-animation .wave:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 143px;
  top:0;
  left:0;
  background-image: url('https://vitalflow.com.ar/img/anim-onda.png');
  opacity: 0.6;
  animation-delay: -5s;
  animation: anim 20s linear infinite;
}

.custom-shape-divider-top-1669950573 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669950573 svg {
  position: relative;
  display: block;
  width: calc(112% + 1.3px);
  height: 79px;
}

.custom-shape-divider-top-1669950573 .shape-fill {
  fill: #ECEEEF;
}

@keyframes anim {
  0%
  {
    background-position: 0;
  }
  100%
  {
    background-position: 1360px;
  }
}
@keyframes anim-rev {
  0%
  {
    background-position: 1360px;
  }
  100%
  {
    background-position: 0px;
  }
}

@media only screen and (max-width: 1360px) {
  .subtitulo h3{
    font-size: 12px
  }
  .titulo{
    margin-top: -48px
  }
  .titulo span{
    font-size: 40px
  }
  .imagem-header{
    max-height: 420px
  }
  .imagem-sobre{
    max-width: 350px
  }
}