// COLORS
$bg-color: #F7F7F7;
$blue-shade: #1B98E0;
$green-shade:#23a057;
$yellow-shade: #F1C40E;
$red-shade:#E74C3C;


//FONTES
$fonte_micro: 0.75rem; // 10px
$fonte_menor: 0.875rem; // 14px
$fonte_pequena: 1rem; // 16px
$fonte_normal: 1.125rem; // 18px
$fonte_media: 1.25rem; // 20px
$fonte_grande: 1.5rem; // 25px
$fonte_maior: 2rem; // 32px

// SPACINGS
$spacing_menor: 0.125rem; // 2px
$spacing_pequeno: 0.5rem; // 8px
$spacing_normal: 1rem; // 16px
$spacing_medio: 1.5rem; // 24px
$spacing_grande: 2rem; // 32px
$spacing_maior: 3rem; // 48px

// MEDIA
$celular: 576px;
$tablet: 768px;
$notebook: 992px;
$desktop: 1200px;